<div class="container index-row">
  <h1>{{model.title}}</h1>
  <h4>by {{model.author}}</h4>
  <br>
  <div class="rows">
    <div class="col-md-6">
      <a class="tile-image"><img src={{model.image}} class="img-responsive" width="400" height=auto></a>
    </div>
    <div class="col-md-6">
      <p class="script-description">{{model.description}}</p>
      <button class="btn btn-lg btn-success" {{action 'addToCart' model}}>Add to Cart</button>
      <br>
      {{display-cart}}
    </div>
  </div>
</div>
